@import "_mixin.sass"   
@import "_variables.sass"

li
    list-style: none

ul
    display: flex
    padding: 0

.button
    background-color: $black
    height: 70px
    @include font (300, 16px, 24px, white)

.button:hover
    background-color: #8A5137
    border: 1px solid #8A5137
    transition: 1s 
    cursor: pointer

.block3__ellipse
    @include he-wi(43px, 43px, 0px, 198px)
    border: 1px solid #8A5137
    border-radius: 43px
    z-index: 1
.block3__ellipse:hover
    background-color: #8A5137
    transition: .5s



