@mixin font($fw, $fs, $lh, $color)
    font-family: 'Poppins', sans-serif
    font-weight: $fw
    font-size: $fs
    line-height: $lh
    text-align: center
    color: $color

@mixin he-wi($wd, $hg)
    width: $wd
    height: $hg

@mixin link-text($marg-left, $padd-bot)
    margin-left: 73px
    padding-bottom: 8px
    border-bottom: $white 
    